/* 
font-family: 'Fugaz One', cursive;
font-family: 'Noto Sans KR', sans-serif;

color
red #e94444
yellow #fad541
beige #ede5c7
gray #686253
dark #38342b

 */

.page-wrapper#about {
  display: none;
}

.about-wrap {
  color: #38342b;
  background-color: #fdfaee;
}

.about-wrap p {
  line-height: 140%;
}

/************** greeting-wrap  **************/
.greeting-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.greeting-wrap .img-wrap {
  position: relative;
  width: 45%;
}

.greeting-wrap .img-wrap img {
  width: 100%;
}

.greeting-wrap h2 {
  font-size: 6rem;
  font-family: 'Fugaz One', cursive;
}

.greeting-wrap .content {
  width: 90%;
}


/************** interest-wrap  **************/

.interest-wrap {
  background-color: #ede5c7;
}

.interest-wrap .grid-wrap {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 35% 35%;
  justify-content: space-evenly;
  gap: 2rem;
  align-content: center;
}


.title-wrap {
  text-align: right;
  vertical-align: text-top;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: 1rem;
  grid-row: 1/4;
  width: 80%;
}

.title-wrap .number {
  font-size: 10rem;
  font-weight: bold;
  line-height: 100%;

}

.title-wrap .title {
  font-size: 2rem;
  font-family: 'Fugaz One', cursive;
}

.grid-wrap .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.span {
  grid-column: 2/4;
}



/************** stat-wrap  **************/
.stat-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-wrap .stat-title {
  font-size: 3rem;
  font-family: 'Fugaz One', cursive;
  margin-bottom: 2rem;

}

.stat-wrap .stats {
  width: 90%;
  box-sizing: border-box;
}

.stat-wrap .stat {
  width: 100%;
  display: flex;
  margin: 1rem 0;
}

.stat-wrap .stat .stat-name {
  flex: 30% 0 0;
  padding: 0 0.75rem;
  color: #f8f8f8;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.stat-wrap .stat .stat-graph {
  flex: 70% 0 0;
  background-color: #ede5c7;
  padding: 0.25rem 0.25rem 0.25rem 0;
}

.stat-wrap .stat .stat-graph .gauge {
  width: 0%;
  height: 100%;
  background-color: #fad541;
  transition: all 5s;
}