@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import './navi.css';
@import './about.css';
@import './project.css';

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');} body, h1, h2, h3, h4, h5, h6, input, textarea, select { font-family: 'Noto Sans KR', sans-serif; }


/* 
font-family: 'Fugaz One', cursive;
font-family: 'Noto Sans KR', sans-serif;

color
red #e94444
yellow #fad541
beige #ede5c7
gray #686253
dark #38342b

 */
* {
  border: none;
  padding: none;
  margin: 0;
  text-decoration: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
body {
  position: relative;
}

.emphasis {
  animation-name: emphasisAni;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; 
}
/************************ index-page *************************/

.page-wrapper {
  width: 100%;
}

.wrapper {
  height: 100vh;
  box-sizing: border-box;
  padding: 100px;
} 

.index-wrap  {
  background-color: #fad541;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #38342b;
  position: relative;
  height: 100vh;
 
}

.nav-bar {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.nav-bar button {
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-bar button:hover {
  animation-name: emphasisAni;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.nav-bar button:focus {
  outline: none;
}

.hello-wrap {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
  font-size: 1.75rem;
}

.hello-wrap .bottom {
  display: flex;
}

.hello-wrap .emphasis {
  font-size: 2.5rem;
  color: #e94444;
  margin-right: 0.5rem;
  animation-name: emphasisAni;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; 
}

.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  
}

.main-wrap .portrait-wrap {
  border: 10px solid #38342b;
  width: 320px;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.main-wrap .portrait {
  height: 80%;
  margin-top: auto;
  -webkit-filter: grayscale(70%);
	filter: gray;
}

.main-wrap .title {
  font-size: 5rem;
  font-family: 'Fugaz One', cursive;
}

.main-wrap .name {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  color: #e94444;
  font-weight: 800;
}


@keyframes emphasisAni {
  0% {transform: translateY(-5%);}
  100% {transform: translateY(5%);}
}